<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
          </header>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
